.pageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.addPreferenceContainer {
  width: 100%;
  max-width: 50rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-secondary);
  letter-spacing: 0.02rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--clr-medium-gray);
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-soft-gray);
  background-color: transparent;
  color: var(--clr-text-primary);
  font-weight: var(--fw-medium);
  transition: border-color 0.3s ease;
}

.input.hasError {
  border-color: var(--clr-error);
}

.input::placeholder {
  color: var(--clr-medium-gray);
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
}

.input:focus {
  border-color: var(--clr-accent);
  outline: none;
}

.input:focus::placeholder {
  color: var(--clr-accent-dark);
}

.buttonsContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton,
.cancelButton {
  padding: 1.4rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelButton {
  display: inline-block;
  line-height: normal;
  background-color: var(--clr-soft-gray);
  color: var(--clr-text-primary);
}

.cancelButton:hover {
  color: var(--clr-white);
  background-color: var(--clr-medium-gray);
}

.addButton {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: none;
}

.addButton:disabled {
  background-color: var(--clr-soft-gray);
  cursor: not-allowed;
}

.addButton:hover {
  background-color: var(--clr-accent-dark);
}

.inputErrorMessage {
  width: 100%;
  color: var(--clr-error);
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .addPreferenceContainer {
    margin-top: 5rem;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .addButton,
  .cancelButton {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: var(--fs-large);
  }
}
