.pageContainer {
  padding: 0 2rem 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tripsContainer {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noTripsContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.noTripsContainer p {
  text-align: center;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.illustration {
  width: 100%;
  max-width: 35rem;
  height: auto;
}

.retryButton {
  padding: 1rem 1.5rem;
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  font-size: var(--fs-medium);
  background-color: var(--clr-accent);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retryButton:hover {
  background-color: var(--clr-accent-dark);
}

@media screen and (max-width: 768px) {
  .noTripsContainer p {
    font-size: var(--fs-large);
  }
}

@media screen and (max-width: 480px) {
  .illustration {
    max-width: 25rem;
  }

  .noTripsContainer p {
    font-size: var(--fs-medium);
  }
}
