.pageContainer {
  padding: 0 2rem 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tripsContainer {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noTripsContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.noTripsContainer p {
  text-align: center;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.errorIllustration,
.emptyIllustration {
  width: 100%;
  height: auto;
}

.errorIllustration {
  max-width: 55rem;
}

.emptyIllustration {
  max-width: 40rem;
}

.retryButton {
  padding: 1rem 1.5rem;
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  font-size: var(--fs-medium);
  background-color: var(--clr-accent);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.errorContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.errorContainer p {
  text-align: center;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.retryButton:hover {
  background-color: var(--clr-accent-dark);
}

@media screen and (max-width: 768px) {
  .noTripsContainer p,
  .errorContainer p {
    font-size: var(--fs-large);
  }

  .errorIllustration {
    max-width: 40rem;
  }

  .emptyIllustration {
    max-width: 30rem;
  }
}

@media screen and (max-width: 480px) {
  .noTripsContainer p,
  .errorContainer p {
    font-size: var(--fs-medium);
  }

  .errorIllustration {
    max-width: 30rem;
  }

  .emptyIllustration {
    max-width: 25rem;
  }

  .retryButton {
    font-size: var(--fs-base);
  }
}
