.nextEvent {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 3rem;
}

.nextEventText {
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--clr-text-primary);
  font-weight: var(--fw-bold);
}

.nextEventDate {
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--clr-text-secondary);
  font-size: var(--fs-small);
}

.eventDetails {
  width: 100%;
  padding: 2rem 4rem;
  background-color: var(--clr-white);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locationTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.from,
.to {
  position: relative;
  width: 26rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.from::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid var(--clr-text-primary);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.to::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--clr-text-primary);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.city {
  font-weight: var(--fw-regular);
  color: var(--clr-text-primary);
}

.time {
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.duration {
  color: var(--clr-text-secondary);
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.startButton,
.cancelButton,
.endButton {
  padding: 1rem;
  border: none;
  border-bottom-right-radius: 1rem;
  color: var(--clr-text-primary);
  background-color: var(--clr-soft-gray);
  cursor: pointer;
  transition: background-color 0.2s;
}

.startButton:hover,
.cancelButton:hover,
.endButton:hover {
  background-color: var(--clr-accent-dark);
  color: var(--clr-white);
}

.seeButton {
  display: inline-block;
  padding: 1rem;
  line-height: normal;
  text-align: center;
  border: none;
  border-bottom-left-radius: 1rem;
  color: var(--clr-white);
  background-color: var(--clr-accent);
  cursor: pointer;
  transition: background-color 0.2s;
}

.seeButton:hover {
  background-color: var(--clr-accent-dark);
}

.errorMessage {
  margin-top: 1rem;
  text-align: center;
  color: var(--clr-error);
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
}

@media screen and (max-width: 480px) {
  .eventDetails {
    padding: 2rem;
    flex-direction: column;
  }

  .locationTime {
    margin-bottom: 1rem;
  }

  .from,
  .to {
    max-width: 18rem;
  }

  .buttons {
    grid-template-columns: 1fr;
  }

  .seeButton {
    border-bottom-left-radius: 0;
  }

  .startButton,
  .cancelButton,
  .endButton {
    border-bottom-left-radius: 1rem;
  }
}
