.pageContainer {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactContainer {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-secondary);
  letter-spacing: 0.02rem;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--clr-medium-gray);
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
}

.inputField,
.textareaField {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-soft-gray);
  background-color: transparent;
  color: var(--clr-text-primary);
  font-weight: var(--fw-medium);
  transition: border-color 0.3s ease;
}

.textareaField {
  min-height: 14rem;
  resize: none;
}

.inputField.hasError,
.textareaField.hasError {
  border-color: var(--clr-error);
  background-color: rgba(255, 0, 0, 0.02);
}

.inputField::placeholder,
.textareaField::placeholder {
  color: var(--clr-medium-gray);
  font-weight: var(--fw-regular);
}

.inputField:focus,
.textareaField:focus {
  border-color: var(--clr-accent-soft);
  outline: none;
}

.inputField:focus::placeholder,
.textareaField:focus::placeholder {
  color: var(--clr-accent-soft);
}

.submitButton {
  margin-top: 2rem;
  padding: 1.4rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--clr-accent-dark);
}

.submitButton:disabled {
  background-color: var(--clr-medium-gray);
  cursor: not-allowed;
}

.inputErrorMessage {
  width: 100%;
  color: var(--clr-error);
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
}

.contactInfo {
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 1px solid var(--clr-soft-gray);
}

.contactInfoTitle {
  margin-bottom: 1rem;
  text-align: center;
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-text-secondary);
}

.contactItem {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contactItem p {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-medium);
  color: var(--clr-text-primary);
}

.contactItem span {
  color: var(--clr-text-secondary);
}

@media screen and (max-width: 768px) {
  .submitButton {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: var(--fs-large);
  }

  .contactInfoTitle {
    font-size: var(--fs-medium);
  }

  .contactItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .contactItem p {
    font-size: var(--fs-base);
  }
}
