.pageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noReviewsContainer,
.errorContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.noReviewsContainer p,
.errorContainer p {
  text-align: center;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.retryButton {
  padding: 1rem 1.5rem;
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  background-color: var(--clr-accent);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retryButton:hover {
  background-color: var(--clr-accent-dark);
}

.reviewsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reviewItem {
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--clr-soft-gray);
}

.reviewHeader {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  border-radius: 1rem;
  cursor: pointer;
}

.reviewHeader:hover {
  background-color: var(--clr-soft-gray);
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatarImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--clr-text-secondary);
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.authorName {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.authorPseudo {
  font-size: var(--fs-small);
  color: var(--clr-text-secondary);
}

.reviewContent {
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.starIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.starIcon path {
  fill: var(--clr-accent);
}

.ratingScore {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  color: var(--clr-text-primary);
}

.reviewComment {
  font-size: var(--fs-medium);
  color: var(--clr-text-primary);
}

.reviewDate {
  font-size: var(--fs-small);
  color: var(--clr-text-secondary);
}

.illustration {
  width: 100%;
  max-width: 35rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .averageRating {
    font-size: 5rem;
  }

  .ratingCount {
    font-size: var(--fs-large);
  }

  .illustration {
    max-width: 30rem;
  }

  .noReviewsContainer p,
  .errorContainer p {
    font-size: var(--fs-large);
  }
}

@media screen and (max-width: 480px) {
  .averageRating {
    font-size: 4rem;
  }

  .illustration {
    max-width: 25rem;
  }

  .noReviewsContainer p,
  .errorContainer p {
    font-size: var(--fs-medium);
  }
}
