.historyLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation {
  position: relative;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5em;
}

.navigation a {
  position: relative;
  padding: 0.4rem 1.8rem;
  color: var(--clr-text-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--fs-small);
  background-color: var(--clr-soft-gray);
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.navigation a:hover {
  background-color: var(--clr-medium-gray);
  color: var(--clr-white);
}

.navigation a[class*="active"] {
  color: var(--clr-white);
  background-color: var(--clr-accent-dark);
}

@media (max-width: 480px) {
  .navigation {
    gap: 1rem;
  }

  .navigation a {
    width: auto;
    max-width: none;
    text-align: center;
    padding: 0.5rem 1.5rem;
  }
}
