.pageContainer {
  padding: 0 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.editAvatarContainer {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-text-secondary);
  letter-spacing: 0.02rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.customFileInput {
  width: 100%;
  height: 5rem;
  display: flex;
  border-radius: 0.5rem;
  border: 2px solid var(--clr-soft-gray);
  overflow: hidden;
}

.fileNameContainer {
  width: 75%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: transparent;
}

.fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--clr-medium-gray);
}

.browseButton {
  width: 25%;
  padding: 0 1.5rem;
  background-color: var(--clr-accent-soft);
  color: var(--clr-white);
  font-weight: var(--fw-medium);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.browseButton:hover {
  background-color: var(--clr-accent);
}

.buttonsContainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton,
.cancelButton {
  padding: 1.4rem 2rem;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelButton {
  display: inline-block;
  line-height: normal;
  background-color: var(--clr-soft-gray);
  color: var(--clr-text-primary);
}

.cancelButton:hover {
  color: var(--clr-white);
  background-color: var(--clr-medium-gray);
}

.editButton {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: none;
}

.editButton:hover {
  background-color: var(--clr-accent-dark);
}

.editButton:disabled {
  background-color: var(--clr-soft-gray);
  cursor: not-allowed;
}

.errorMessage {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--clr-error);
  font-weight: var(--fw-bold);
  font-size: var(--fs-small);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .fileNameContainer {
    width: 60%;
  }

  .browseButton {
    width: 40%;
  }

  .editButton,
  .cancelButton {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: var(--fs-large);
  }
}
